.notif-div {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.spinner-dashboard-tables {
    padding: 10%;
}

.stats-content {
    float: right;
    font-weight: bold;
}

.card-success,
.card-danger,
.card-primary,
.card-info {
    color: #fff;
    font-weight: bold;
}
