<div [@routerTransition]>
    <h1 class="text-muted">DASHBOARD <small> - Estadísticas generales</small></h1>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="First slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr>
    <div class="row">
        <!-- TODO cambiar links /login a donde corresponda -->
        <a class="col-xl-3 col-lg-6" [routerLink]="['/ingreso-egreso/ingreso']">
            <app-stat [bgClass]="'card-success'" [icon2]="'fa-car'" [icon]="'fa-sign-in'" [data]="'INGRESO VEHÍCULO'" ></app-stat>
        </a>
        <a class="col-xl-3 col-lg-6" [routerLink]="['/ingreso-egreso/egreso']">
            <app-stat [bgClass]="'card-danger'" [icon]="'fa-car'" [icon2]="'fa-sign-out'" [data]="'SALIDA VEHÍCULO'"></app-stat>
        </a>
        <a class="col-xl-3 col-lg-6" [routerLink]="['/login']">
            <app-stat [bgClass]="'card-primary'" [icon]="'fa-money'" [count]="4" [label]="'nuevas reservas!'" [data]="'VER RESERVAS'" ></app-stat>
        </a>
        <a class="col-xl-3 col-lg-6" [routerLink]="['/login']">
            <app-stat [bgClass]="'card-info'" [icon]="'fa-bar-chart'" [count]="21" [label]="'vehículos ingresados'" [data]="'ESTADÍSTICAS'" ></app-stat>
        </a>
    </div>
    <hr />
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
    <hr />

    <div class="row">
        <div class="col-lg-6">
            <app-chart></app-chart>
        </div>
        <div class="col-lg-6 notif-div">
            <div class="card card-default">
                <div class="card-header card-primary">
                    <i class="fa fa-bell fa-fw"></i> Notificaciones
                </div>
                <app-notification></app-notification>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="card card-default">
                <div class="card-header card-success">
                    <i class="fa fa-sign-in fa-car"></i> Últimos ingresos
                </div>
                <div *ngIf="ocultarTablaUltIngresos" class="text-center spinner-dashboard-tables">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                </div>
                <table *ngIf="!ocultarTablaUltIngresos" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="text-align: center;">#</th>
                            <th style="text-align: center;">Patente</th>
                            <th style="text-align: center;">Hora ingreso</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ingreso of ultimosIngresos; let i = index" style="text-align: center;">
                            <th scope="row">{{ultimosIngresos.length - i}}</th>
                            <td>{{ingreso.vehiculoEstacionado.patente}}</td>
                            <td>{{ingreso.fechaIngreso}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card card-default">
                <div class="card-header card-danger">
                    <i class="fa fa-dollar"></i> Últimos egresos
                </div>
                <div *ngIf="ocultarTablaUltEgresos" class="text-center spinner-dashboard-tables">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                </div>
                <table *ngIf="!ocultarTablaUltEgresos" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th style="text-align: center;">#</th>
                        <th style="text-align: center;">Patente</th>
                        <th style="text-align: center;">Tiempo estadía</th>
                        <th style="text-align: center;">Monto</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let egreso of ultimosEgresos; let i = index" style="text-align: center;">
                            <td>{{ultimosEgresos.length - i}}</td>
                            <td>{{egreso.nroPatente}}</td>
                            <td>{{egreso.tiempoPermanencia}}</td>
                            <td>${{egreso.costoPermanencia}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card card-default">
                <div class="card-header card-info">
                    <i class="fa fa-info-circle"></i> Información general
                </div>
                <div class="card-block">
                    <div *ngIf="ocultarTablaUltIngresos" class="text-center spinner-dashboard-tables">
                        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                    </div>
                    <table *ngIf="!ocultarTablaUltIngresos" class="table table-sm">
                        <tbody>
                            <tr>
                                <td>Vehículos ahora: <span class="stats-content">{{ingresadosActivos}}</span></td>
                            </tr>
                            <tr>
                                <td>Capacidad: <span class="stats-content">{{(ingresadosActivos / parque.capacidad) * 100}}%</span></td>
                            </tr>
                            <tr>
                                <td>Reservas activas: <span class="stats-content">3</span></td>
                            </tr>
                            <tr>
                                <td>Ultimo ingreso: <span class="stats-content">{{ultimosIngresos[0].fechaIngreso.slice(10, ultimosIngresos[0].fechaIngreso.length)}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
