<div class="progress" *ngIf="ocultarTabla">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span>Cargando<span class="dotdotdot"></span></span>
    </div>
</div>

<div>
    <!--TODO aca poner un div con todos los filtros (DatePickers, checkbox, input...)-->
</div>

<table datatable class="row-border hover table" id="table" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" [hidden]="ocultarTabla">
    <thead class="inverse-custom">
        <tr>
            <th>#</th>
            <th>Patente</th>
            <th>Fecha y Hora ingreso</th>
            <th>Fecha y Hora egreso</th>
            <th>Marcó salida?</th>
            <th>Tiempo estadía</th>
            <th>Monto</th>
            <th>Email del Cliente</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaccion of historial; let i = index" style="text-align: center;">
            <td>{{historial.length - i}}</td>
            <td>{{transaccion.vehiculoEstacionado.patente}}</td>
            <td>{{transaccion.fechaIngreso}}</td>
            <td>{{transaccion.marcoSalidaDelParque? transaccion.fechaEgreso : '-'}}</td>
            <td>{{transaccion.marcoSalidaDelParque? 'Salió' : 'En parque'}}</td>
            <td>{{transaccion.marcoSalidaDelParque? transaccion.tiempoEstadia : '-'}}</td>
            <td>{{transaccion.marcoSalidaDelParque? '$'+transaccion.monto : '-'}}</td>
            <td>{{transaccion.vehiculoEstacionado.ownerVehiculo?.email? transaccion.vehiculoEstacionado.ownerVehiculo.email : '-'}}</td>
            <td>
                <button class="fa fa-pencil blue"></button >
                <button class="fa fa-times red"></button >
            </td>
        </tr>
    </tbody>
</table>
