.custom-modal-footer {
    justify-content: center;
}

.custom-btn{
    height: 5em;
    width: 12em;
    font-size: 1.2em;
    text-align: center;
    display: inline-block;
}

.opt-data-header {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
}

.custom-card-header-main {
    background-color: rgba(0, 71, 194, 0.75);
    color: white;
    font-weight: bold;
}

.custom-card-header-opt {
    color: #256ab0;
    font-weight: bold;
}
